<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome </p>   
<% console.log(messages.info) %>
<div class="alert alert-success"><%- messages.info[0]._raw  %></div> 
<a href="/views/login" class="btn btn-secondary">Logout</a>
